{% extends "CctaCoreBundle::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block admintitle %}
    Players <small>Manage players</small>
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('ccta_user_admin_index') }}"><i class="fa fa-user"></i> Players</a></li>
{% endblock %}
{% block body %}
    {% block ccta_player_admin_content %}{% endblock %}
{% endblock %}