{% extends "CctaPlayerBundle::admin.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa fa-plus circle"></i> Créer un joueur</a></li>
{% endblock %}

{% block body %}

    <div class="page-header">
        <h2>Créer un joueur</h2>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            {{ include("CctaPlayerBundle:Admin:form.html.twig") }}
        </div>
    </div>
    {{ form(form) }}
{% endblock %}