{% extends '@CctaAlliance/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Gestion d'alliance - Tableau de bord</h2>
    </div>
    <div class="row">

    </div>

{% endblock %}