{% extends '@CctaAlliance/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Gestion d'alliance</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Joueur</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
{% endblock %}