{% extends '@CctaAlliance/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h2>Postuler <small>{{ alliance.name }} - {{ world.name }}</small></h2>
    </div>

{% endblock %}