{% extends "CctaWorldBundle::admin.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa fa-plus circle"></i> Créer un monde</a></li>
{% endblock %}

{% block ccta_world_admin_content %}

    <div class="page-header">
        <h2>Créer un monde</h2>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
                    {{ include("CctaWorldBundle:Admin:form.html.twig") }}
        </div>
    </div>
    {{ form(form) }}
{% endblock %}