{% extends "CctaWorldBundle::admin.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa fa-pencil"></i> Modifier un monde</a></li>
{% endblock %}

{% block ccta_world_admin_content %}

    <div class="page-header">
        <h2>Modifier le monde '{{ world.name }}'</h2>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
                    {{ include("CctaWorldBundle:Admin:form.html.twig") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}