{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

    <div class="page-header">
        <h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>
    </div>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
