<div class="row">
    <div class="col-md-1">
        <a href="{{ path('ccta_alliance_manage_index') }}" title="Gestion Alliance" class="btn-metro bg-success"><i class="fa fa-users fa-3x"></i></a>
    </div>
    <div class="col-md-1">
        <a href="{{ path('ccta_alliance_recruiting_recruit_recruits') }}" title="Gestion Recrutement" class="btn-metro bg-success"><i class="fa fa-user-plus fa-3x"></i></a>
    </div>
</div>