{% extends "CctaUserBundle::admin.html.twig" %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa fa-pencil"></i> Edit User</a></li>
{% endblock %}

{% block ccta_user_admin_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Edit user '{{ user.username }}'</h3>
                </div>
                <div class="box-body">
                    {{ include("CctaUserBundle:Admin:form.html.twig") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}