body{ padding-top: 51px; }


/** Common styles **/

hr{
	border-top: 2px solid #77b300;
}

/** Page heading **/

.page-header{
	padding-bottom: 0;
	margin: 20px 0;
	border-bottom: 2px solid #77b300;
}

.page-header h2{
	font-family: 'Contrail One', cursive;
	font-size: 26px;
	font-weight: normal;
	color: #fff;
}

/** panel **/

.panel-default .panel-heading,
.panel-success .panel-heading,
.panel-primary .panel-heading{
	color: #fff;
	font-family: 'Contrail One', cursive;
	font-size: 14px;
}


.badge{ background-color: #77b300; }
.alert{ margin-top: 10px; margin-bottom: 10px !important; }



/** To clean **/

ul.panel-right-buttons{
	float: right;
	margin-top: 10px;
}
ul.panel-right-buttons li{ list-style: none; float: left; }

a.metro-btn{
	display: block;
	text-align: center;
	padding: 10px;
	background-color: #77b300;
	color: #fff;
	margin-right: 10px;
}



.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{ background-color: #77b300; }
.dropdown-menu>li>a:hover .badge, .dropdown-menu>li>a:focus .badge{ background-color: #fff; color: #77b300; }

#afternav-panel{
	width: 100%;
	background: #111;
	border-bottom: 3px solid #77b300;
}



#afternav-panel-content{
	display: none;
	border-top: 3px solid #77b300;
}

#afternav-panel-content h3{
	color: #77b300;
	font-family: 'Contrail One', cursive;
	font-size: 26px;
}

.profile-thumb-container{
	float: left;
	height: 30px;
	width: 30px;
	margin: 0 10px 0 0;
	border-radius: 15px;
	overflow: hidden;
}
.profile-thumb{
	height: 30px;
}
.panel-title-row{
	margin: 15px 0;
}

#afternav-panel .list-group { margin-bottom: 0;}

