{% extends '@CctaGame/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h2>Mon tableau de bord</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mon joueur
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>Nom de joueur: </label> {{ player.playername }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mon alliance{% if alliance is not null %}: {{ alliance.alliance.name }}{% endif %}
                </div>
                <div class="panel-body">
                    {% if alliance is null %}
                    <em class="text-danger">Vous n'avez pas encore rejoint d'alliance sur ce monde</em>
                    {% else %}
                        <p><strong>{{ alliance.alliance.intro }}</strong></p>
                        <p>{{ alliance.alliance.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
