{% extends '@CctaGame/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h2>Mon tableau de bord</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mon joueur
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mon alliance
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
