{% extends "CctaCoreBundle::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block admintitle %}
    Users <small>Manage users</small>
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('ccta_user_admin_index') }}"><i class="fa fa-user"></i> Users</a></li>
{% endblock %}
{% block body %}
    {% block ccta_user_admin_content %}{% endblock %}
{% endblock %}